body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  overflow-y: hidden;
  margin: 0;
}
#status {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
}
.itemlist .item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.itemlist .item:last-child {
  border-bottom: none;
}


.itemlist .item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemlist .item .searchText {
  width: 100%;
  text-overflow: ellipsis;
  cursor: pointer;
}

.itemlist .item img {
  display: block;
  width: 35px;
  height: 35px;
}

.itemlist .item .image {
  display: block;
  position: relative;
  overflow: hidden;
  width: 35px;
  flex-shrink: 0;
}

.itemlist .item .image.canadd {
  cursor: pointer;
}

.itemlist .item .image .status {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 33, 33, 0.5);
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.itemlist .item .image.incart .status {
  display: block;
  background:rgba(72, 170, 63, 0.4);
}


.itemlist .item .image.canadd:hover .status {
  display: block;
}

.itemlist .item .productName {
  cursor: pointer;
  width: 60%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.tabview {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.tabview .tab-headers {
  display: flex;
  flex-direction: row;
}

.tabview .tab-headers div {
  padding: 10px;
  border-right: 1px solid #aaa;
  cursor: pointer;
  flex-grow: 1;
  background: #ddd;
  color: #666;
  box-shadow: inset 0 5px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.tabview .tab-headers div.active {
  background: #fff;
  color: #000;
  box-shadow: none;
}
